/* Theme: cyber-orange */
:root[data-theme='cyber-orange'] {
  --xnet-background: #0D0600;
  --xnet-background-alt: #1A0C00;
  --xnet-surface-base: #2612005C;
  --xnet-stroke: #BF6B30;
  --xnet-text-primary: #FFF1E6;
  --xnet-text-secondary: #CCB3A3;
  --xnet-accent-primary: #FF7700;
  --xnet-accent-highlight: #FFA500;
  --xnet-accent-positive: #00FF85;
  --xnet-surface-raised: #1A0C00;
  --xnet-surface-alt: #2612005C;
  --xnet-accent-primary-soft: #FF770040;
  --xnet-semantic-error: #FF4444;
  --xnet-semantic-warning: #FFC107;
  --xnet-semantic-info: #00D4FF;
}
